{
	"output_csv": "output/results-paraadasample-tmp.csv",
	"cache_sizes": [0.0005, 0.001, 0.005, 0.01, 0.05, 0.1],
	"cache_sizes": [500],
	"traces": ["../traces/casa-110108-112108.1.blkparse", "../traces/cluster006.twitter", "../traces/cluster003.twitter", "../traces/cluster008.twitter"],
	"traces": ["../traces/LRU_LFUx4_5NoiseResult.trc"],
	"request_count_type": "unique",

	"algorithms": ["paraadasample", "adasample"],
	"algorithms": ["paraadasample"],

	"paraadasample": {
		"experts": [["lru", "lfu"], ["lru", "lfu", "hyperbolic"]],
		"num_clients": [2, 4, 8, 64, 128, 256],
		"learning_rate": [0.3],
		"reward_type": ["lecar"],
		"history_type": ["global"],
		"num_samples": [10]
	},

	"adasample": {
		"experts": [["lru", "lfu"], ["lru", "lfu", "hyperbolic"]],
		"learning_rate": [0.1],
		"reward_type": ["lecar", "olecar"],
		"num_samples": [10, 5]
	},

	"lecar": {
		"learning_rate": [0.1]
	},

	"olecar": {
		"learning_rate": [0.1]
	},

	"sample": {
		"priority": ["lru", "lfu", "hyperbolic"],
		"num_samples": [20]
	}
}