{
	"output_csv": "output/results-twitter-all-n.csv",
	"cache_sizes": [500],
	"cache_sizes": [512],
	"cache_sizes": [0.01],
	"traces": ["../traces/LRU_LFUx4_5NoiseResult.trc"],
	"traces": ["twitter-all"],
	"request_count_type": "unique",

	"algorithms": ["paraadasample", "sample"],
	"algorithms": ["lru"],

	"paraadasample": {
		"experts": [["lru", "lfu"]],
		"num_clients": [1],
		"learning_rate": [0.1],
		"reward_type": ["lecar"],
		"history_type": ["global"],
		"num_samples": [5]
	},

	"adasample": {
		"experts": [["lru", "lfu"], ["lru", "lfu", "hyperbolic"]],
		"learning_rate": [0.1],
		"reward_type": ["lecar", "olecar"],
		"num_samples": [5]
	},

	"lecar": {
		"learning_rate": [0.1]
	},

	"olecar": {
		"learning_rate": [0.1]
	},

	"sample": {
		"priority": ["lru", "lfu"],
		"num_samples": [5]
	}
}