{
    "output_csv": "output/results-mix-para-adaptive.csv",
    "cache_sizes": [
        0.1
    ],
    "traces": [
        "mix"
    ],
    "request_count_type": "unique",
    "lru_lfu_fname": [
        "../traces/para_mix/lru-acc-trace-n.trc",
        "../traces/para_mix/lfu-acc-trace-n.trc"
    ],
    "lru_lfu_num": [
        10,
        0
    ],
    "algorithms": [
        "sample"
    ],
    "paraadasample": {
        "experts": [
            [
                "lru",
                "lfu"
            ]
        ],
        "num_clients": [
            10
        ],
        "learning_rate": [
            0.1
        ],
        "reward_type": [
            "lecar"
        ],
        "history_type": [
            "global"
        ],
        "num_samples": [
            5
        ]
    },
    "sample": {
        "priority": [
            "lru",
            "lfu"
        ],
        "num_samples": [
            20,
            100
        ]
    }
}