{
	"output_csv": "output/results-webmail-para.csv",
	"cache_sizes": [0.1],
	"traces": ["webmail-all"],
	"request_count_type": "unique",

	"algorithms": ["lru", "lfu"],

	"lru": {
		"para_clients": [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
	},
	"lfu": {
		"para_clients": [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
	}
}