{
	"output_csv": "output/results-twitter-para-sample-total.csv",
	"cache_sizes": [0.001, 0.005, 0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
	"traces": ["twitter-all"],
	"request_count_type": "unique",

	"algorithms": ["lru", "lfu"],

	"algorithms": ["sample"],

	"sample": {
		"priority": ["lru", "lfu"],
		"num_samples": [5],
		"para_clients": [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
	},

	"lru": {
		"para_clients": [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
	},
	"lfu": {
		"para_clients": [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
	}
}